/* OUTPUT */

@media (orientation: portrait) and (max-width: 200px) {
  a {
    height: 100px;
    width: 100%;
  }
}

@media (orientation: landscape) and (max-width: 200px) {
  a {
    height: 100px;
    width: 50%;
  }
}

@media (orientation: portrait) and (max-width: 600px) {
  a {
    height: 100px;
    width: 100%;
  }
}

@media (orientation: landscape) and (max-width: 600px) {
  a {
    height: 100px;
    width: 50%;
  }
}

@media (max-width: 800px) {
  a {
    height: 100px;
    width: 30%;
  }
}
