/* DESIRED INPUT */

/* Settings */
/* phone is mediator mode */

/* CSS files */
/* phone.portrait is mediator rules */
a {
  height: 100px;
  display: block;
}
@media (max-width: 200px) and (orientation: portrait) {
  a {
    width: 100%;
  }
}
@media (orientation: landscape) and (max-width: 200px) {
  a {
    width: 50%;
  }
}
@media (orientation: portrait) and (max-width: 600px) {
  a {
    width: 100%;
  }
}
@media (orientation: landscape) and (max-width: 600px) {
  a {
    width: 50%;
  }
}
@media (max-width: 800px) {
  a {
    width: 30%;
  }
  div.test {
    width: 100%;
  }
  div#id {
    width: 80%;
  }
}
