/* Using BootstrapCSS guidelines for examples http://getbootstrap.com/css */
div.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media print {
  div.container {
    border: 1px solid #000;
    width: 920px;
  }
}
@media all and (max-width: 991px) and (min-width: 768px) {
  div.container {
    width: 750px;
  }
}
@media all and (min-width: 992px) {
  div.container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  div.container {
    width: 1170px;
  }
}
